<?xml version="1.0" ?>

<robot name="abb_irb140" xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- <xacro:arg name="param_height" default="0.265" />
	<xacro:arg name="param_width" default="0.23" />
	<xacro:arg name="param_length" default="0.07" />
	<xacro:arg name="param_center" default="0.5" /> -->

	<xacro:include filename="$(find abb_irb140_support)/urdf/irb140_macro.xacro"/>
	<xacro:abb_irb140 prefix=""/>
</robot>
